{
   "semi": false,
   "singleQuote": true,
   "tabWidth": 3,
   "printWidth": 100,
   "useTabs": true,
   "endOfLine": "auto",
   "trailingComma": "all",
   "jsxSingleQuote": true,
   "singleAttributePerLine": true
}