@tailwind base;
@tailwind components;
@tailwind utilities;

.main-radial-overlay {
	background: rgb(0, 0, 0);
	background: -moz-radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 63%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -webkit-radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 63%,
		rgba(0, 0, 0, 0) 100%
	);
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 63%,
		rgba(0, 0, 0, 0) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
